// modulos o partials de sass
@use "custom-styles";
@use "reset";
@use "navbar";

// Variables globales
@import "variables";

// import de font family
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap");

// Estilos globales

:root {
  // Heredor del rem responsive
  font-size: 62.5%;
  font-family: $font-primary;
  font-weight: 600;
}

body,
html {
  background-color: $background-color-primary;
  color: $text-color;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

.cells-container {
  @extend .container-secondary;
  &:hover {
    box-shadow: $shadow-primary;
    cursor: pointer;
    background-color: rgba($primary-color, 0.3);
  }
}

.cells-container.selected {
  box-shadow: $shadow-primary;
  background-color: rgba($primary-color, 0.3);
}

// Responsive globales

// lg
@media (max-width: 991px) {
  // heredor del rem global
  body {
    font-size: 1.2rem;
  }

  // Complemento responsive para ajustar el width de los contenedores principales en diferentes tamaños
  .media-lg-w-100 {
    width: 100% !important;
  }
}

// sm

@media (max-width: 576px) {
  body {
    font-size: 1.2rem;
  }

  // Complemento responsive para ajustar el width de los contenedores principales en diferentes tamaños
  .media-sm-w-100 {
    width: 100% !important;
  }
}
