<header class="navbar-background d-flex justify-content-center">
  <nav class="navbar navbar-expand-lg w-75">
    <a class="navbar-brand ms-5" href="">
      <img
        src="/img/logo-main-carwashmetro.png"
        alt=""
        class="logo-nav img-fluid" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end me-lg-5 collapse-nav-config me-0"
      id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/admin/dashboard">
            <button
              class="button-primary d-flex flex-sm-row justify-content-sm-start align-items-center ms-3 text-icon-container w-100 w-sm-auto">
              <div class="icon-container">
                <i class="material-icons"> home </i>
              </div>
              <span class="ms-3">Inicio</span>
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/staff">
            <button
              class="button-primary d-flex flex-sm-row justify-content-sm-start align-items-center ms-3 text-icon-container w-100 w-sm-auto">
              <div class="icon-container">
                <i class="material-icons"> manage_accounts </i>
              </div>
              <span class="ms-3">Empleados</span>
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/settings">
            <button
              class="button-primary d-flex flex-sm-row justify-content-sm-start align-items-center ms-3 text-icon-container w-100 w-sm-auto">
              <div class="icon-container">
                <i class="material-icons"> settings </i>
              </div>
              <span class="ms-3">Configuración</span>
            </button>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
