<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio / CarWashMetro</title>
    <meta name="robots" content="index, follow" />
    <link rel="icon" href="/img/logo-main-carwashmetro.png" type="image/png" />
    <meta
      name="description"
      content="!Inicia sesión en CarWashMetro para empezar a usar a nuestros servicios!" />

    <!-- Links CSS -->
    <%- include('../templates/styles') %>
  </head>

  <body>
    <main class="vh-100"><%- include('../templates/headeruser') %></main>

    <!-- links de scripts -->
    <%- include('../templates/scripts') %>
  </body>
</html>
